<h1>Cryptids</h1>


<% @cryptids.each do |c| %> 
    
       Name: <%= c.name %><br><br> 
    
    <%= c.sightings.each do |sighting| %> 
        <li><%= sighting.date %><%= sighting.location %></li>
    <% end %>
<% end %>
