<h1>Cryptid Sighitngs</h1>


<% @cryptids.each do |c| %><br><br> 
    
       Name: <%= c.name %><br><br> 
       
     <% c.sightings.each do |sighting| %> 
         <li><%= sighting.date %>_<%= sighting.location %></li> 
     
      
    <% end %>
<% end %>
