<h1>Sightings</h1>

<% if @sightings.length == 0 %> 
  No sightings to report 
<% else %> 
<% @sightings.each do |s| %> 
<p>
   Date: <%= s.date %> 
   Location: <%= s.location %>  
   Account: <%= s.account %>
</p>
  <% end %>
<% end %>


