<h1>Sightings</h1>

# <% if @sightings.length == 0 %> 
#   No sightings to report 
# <% else %> 
<% @sightings.each do |s| %> 
<p>
   Date: <%= s.date %><br><br> 
   Location: <%= s.location %><br><br> 
   Cryptid: <%= s.cryptid.name %><br><br>  
   Account: <%= s.account %>
</p>
  <% end %>
<% end %>


