<h1>Sightings#index</h1>
<p>Find me in app/views/sightings/index.html.erb</p>


<% @sightings.each do |s| %> 
    Date: <%= s.date %> 
    Location: <%= s.location %> 
    Account: <%= s.account %>

<% end %>


