<h1>Sightings#show</h1>
<p>Find me in app/views/sightings/show.html.erb</p>

<%= @sighting.date %> 
<%= @sighting.location %>
<%= @sighting.account %>

<%= link_to('Delete', sighting_path(@sighting), method: 'delete') %>
    

  
