<h1>Sighting</h1>
Date: <%= @sighting.date %><br><br> 
Location: <%= @sighting.location %><br><br>
Cryptid: <%= @sighting.cryptid.name %><br><br>
Witness Account: <%= @sighting.account %>



    

  
