
<h1>Hello Again, <%= @user.first_name %>!</h1><br> 

<h2>Your Sightings:</h2>


<%= button_to "Add a Sighting", new_sighting_path, method: :get %>

<%= button_to "Edit Profile Info", edit_user_path, method: :get %>

<%= button_to "Logout", logout_path %>





